@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

body{
    color: #000;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

h1{
    font-weight: 300;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 300;
    font-size: 2.3em;
    padding: 0;
    margin: 0;
}

p{
    font-weight: 100;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}

.bigger-font{
    font-weight: 300;
    font-size: 1.6em;
}

.smaller-font{
    font-weight: 100;
    font-size: 0.9em;
}

.adjusted{
    width: 250px;
    height: 100px;
}

.spacing{
    margin-top: 7%;
    margin-bottom: 7%; 
}

.line-spacing{
    line-height: 1.67em;
}

.spec{
    width: 40%;
    margin: 0 5%;
    padding: 0;
}

.spec-img{
    width: 50%;
}

.center-content{
    width: 85%;
    margin: 0 7.5%;
}

.flex-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-img{
    width: 100%;
}

.center-flex-item{
    justify-content: space-around;
}

.adjusted-flex-img{
    width: 85%;
}

.flex-first{
    order: 1;
}

.flex-second{
    order: 2;
}

.hero-layout{
    position: relative;
    width: 100%;
    height: 650px;
    color: #fff;
}

.hero-text{
    position: absolute;
    width: 30%;
    top: 10%;
    left: 5%;
}

.hero-logo{
    width: 300px;
}

.game-layout{
    position: relative;
    width: 100%;
    height: 700px;
}

.text-box-left{
    position: absolute;
    width: 35%;
    top: 10%;
    left: 3%;
    opacity: 0.8;
    border-radius: 15%;
    padding: 30px;
}


.text-box-right{
    position: absolute;
    width: 35%;
    top: 30%;
    left: 50%;
    opacity: 0.8;
    border-radius: 15%;
    padding: 30px;
}

.black-layer{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.white-background{
    background: #fff;
    color:#000;
}

.black-background{
    background: #000;
    color: #fff;
}

.blue-button{
    background: #0070cc;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 25px;
    margin: 0px 2px 0px 0px;
    font-size: 1.2em;
    cursor: pointer;
}

.red-button{
    background: #cd3d0f;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 25px;
    margin: 0px 2px 0px 0px;
    font-size: 1.2em;
    cursor: pointer;
}

.display-inline{
    display: inline-block;
}

.two-column-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.column{
    width: 50%;
}

.form-dropdown{
    padding: 10px 7px 10px 7px;
    font-size: 1.1em;
}

.dob-column{
    width: 30%;
    
}

.dob-middle-column{
    margin: 0px 20px 0px 25px;
}


#nav-bar{
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index:999;
    background: #fff;
}

#header-img{
    width: 250px;
    height: 50px;
    margin: 0px 20px;
}

#nav-links{
    display: flex;
    padding:  0px 20px;
    list-style: none;
}

#nav-links li{
    margin: 0px 5px;
}


#intro{
    width: 100%;
    height: 400px;
    padding-top: 40px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
}

#video{
    position: absolute;
    width: 100%;
    height: 575px;
    margin: 0;
    padding: 0;
    z-index: -3;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: black;
    opacity: 1;
}

#video video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: -4;
}


#intro-image{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#intro-image img{
    width: 500px;
    height: 500px;
}

#intro-description{
    width: 35%;
    margin: 460px 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
}

#intro-description img{
    width: 350px;
    height: 150px;
}

#intro-description p{
    line-height: 1.5em;
}


#intro-2{
    color: #000;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 20%; 
}

#intro-2 img{
    width: 100%;
}

#features-main{
    background: url("./images/features-background.jpeg") center center no-repeat;
    background-size: cover;
}

#features-end{
    background: url("./images/features-03.jpeg") center center no-repeat;
    background-size: cover;
}

#games-main img{
    width: 45%;
}

#game-display-1{
    background: url("./images/games-03.jpeg") center center no-repeat;
    background-size: cover;
}

#game-display-2{
    background: url("./images/games-04.jpeg") center center no-repeat;
    background-size: cover;
}

#game-display-3{
    background: url("./images/games-01.jpeg") center center no-repeat;
    background-size: cover;
}

#game-display-4{
    background: url("./images/games-02.jpeg") center center no-repeat;
    background-size: cover;
}

#newsletter{
    color: #000;
}

#newsletter div{
    position: absolute;
    text-align: center;
    width: 28%;
    color: #fff;
    top: 23%;
    left: 4%;
}

#newsletter h1{
    font-size: 2.1em;
}

#newsletter p{
    font-size: 1.3em;
}

#newsletter img{
    z-index: -1;
    height: 600px;
}

#form{
    background-color: #eee;
    color: #000;
    width: 100%;
    margin: 0;
    padding: 60px 0px 60px 0px;
    font-family: 'Raleway'
}

#form h1{
    text-align: center;
}

#form p{
    text-align: center;
}

#form label{
    display: block;
    margin: 17px 0px 17px 0px;
}

#form input[type = "text"], input[type = "email"]{
    width: 90%;
    padding: 10px 7px 10px 7px;
    font-size: 1.1em;
}

#form input[type = "radio"]{
    height: 25px;
    width: 25px;
}

#form input, select {
    border: none;
}

#form-button{
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

#country{
    width: 92.5%;
    font-size: 1.1em;
}

#dob-container{
    display: block;
    width: 100%;
}





















